body{
    background-color: aliceblue;
}
.top-bar{
    width:100%;
    height: 90vh;
    background-image: url('./images/dancing.jpg');
    background-color: #cccccc;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.navigator{
    width: 100%;
    height:15%;
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    color: white;
    background-color: rgb(64 53 53 / 64%);
}
.clgname{
    font-size: 35px;
    font-weight: 400;
}
.navigator > div{
    margin: 10px;
}
.topcontents{
    padding-right: 20px;
    position: relative;
    top: 22px;
    left: 23px;
}
.main-section{
    display: flex;
    padding: 4% 12%;
    margin: 3% auto;
    width: 80%;
    height: 70%;
}
.middle-line{
    width: 2%;
    height: 40%;
    background-color: rgb(243, 243, 99);
    border-radius: 8px;
}
.wrapper{
    display: flex;
}

.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li{
    color: black;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide{
    100%{
        top: -360px;
    }
    
}
.dynamic-txts li span{
    position: relative;
}
.dynamic-txts li span:after{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    animation: typing 2s steps(10) infinite;
}

@keyframes typing {
    40%,60%{
        left:calc(100% + 30%);
    }
    100%{
        left:100%;
        margin: 0 -35px 0 35px;  
  }    
}

.auto-type{
    font-size: 90px;
    font-weight: 500;
    color: white;
}

.about-head{
    margin-top: 1%;
    width: 100%;
    max-height: 30%;
    /* background-color: aliceblue; */
    font-family: sans-serif;
}
.about{
    margin: 4px 92px;
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    color: black;
}
.about-title{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: black;
}
.prgms{
    height: 200px;
    margin: 2% auto;
    width: 80%;
    display: flex;
    align-items: center;
}
.prgm-contents{
    width: 40%;
    height: 90%;
}
.images{
    margin-left: 2%;
    width: 58%;
    height: 100%;
    /* border: 2px solid; */
    box-sizing: border-box;
}
.register-body{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: white;
}

.register-left{
    background-image: url('./images/student.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background: black;
    overflow: hidden;
    background: #c33764;
    background: -webkit-linear-gradient(rgba(29,38,113,0.8),rgba(195,55,100,0.8)),url('./images/student.jpg');
    background: linear-gradient(rgba(29,38,113,0.8),rgba(195,55,100,0.8)),url('./images/student.jpg'); */
    width: 50%;
    height: 100%;
}
/* https://bit.ly/2rlzaXi */


.register-section{
    width: 50%;
    height: 100%;
    background-color: linear-gradient(rgba(29,38,113,0.8),rgba(195,55,100,0.8));
}
.middle{
    width: 1%;
    height: 80%;
    background-color: pink;
    border-radius: 8px;
}
.fields{
    margin: 33px;
}

.about-head{
    margin:20px auto;
    height: 300px;
    width: 80%;
    font-family: inherit;
}




